body {
    background: linear-gradient(to bottom, #003282, #0056b3); /* Degradado de azul oscuro a un azul más claro */
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Asegura que no haya desbordamiento horizontal */
    color: white;
}

.container.mt-5 {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 85px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#img1{    
    width: 50px;
    height: 50px;
}

#img2{    
    width: 50px;
    height: 50px;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
}
.form-control {
    background-color: #003366;
    border: 1px solid #ccc;
    color: white;
}
.form-control:focus {
    background-color: #004080;
    border-color: #0056b3;
}
.btn-primary {
    background-color: #0056b3;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.btn-primary:hover {
    background-color: #0073e6;
}
@media (max-width: 576px) {
    .row {
        flex-direction: column;
    }
    .col-12 {
        margin-bottom: 10px;
    }
    .data-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 578px) {
    .data-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
        padding-left: 50px;
    }
    .data-container{
        display: flex;
        justify-content: center;
    }
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-item:last-child {
        margin-bottom: 0;
    }
}
.my-confirm-button-class {
    background-color: #0056b3 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.score-input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}