body {
    background: linear-gradient(to bottom, #003282, #0056b3); /* Degradado de azul oscuro a un azul más claro */
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Asegura que no haya desbordamiento horizontal */
}

.navbar-custom {
    background-color: #003282;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.navbar-nav .nav-link {
    color: white;
    margin: 0 10px;
    display: inline-block;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item.active .nav-link {
    font-weight: bold;
}

.navbar-brand {
    position: relative;
}

.navbar-brand::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    right: -20px;
    top: 0;
}

.footer {
    background-color: #003282;
    width: 100%;
    color: white;
    padding: 10px 0;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 -4px 6px -1px rgba(100, 149, 237, 0.6); /* Sombra clara azul */
}

.team h3 {
    position: relative;
}

.team h3::after {
    content: '';
    display: block;
    width: 191px; /* Ancho del pseudo-elemento */
    height: 3px; /* Alto del pseudo-elemento */
    background-color: #0195FE; /* Color del pseudo-elemento */
    position: absolute;
    bottom: -10px; /* Ajusta la distancia desde abajo */
    left: 0; /* Ajusta la posición desde la izquierda */
}


.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.team-member img {
    margin-left: 100px; /* Espacio entre el nombre y el icono de Instagram */
    height: 30px;
}

#imgL{
    margin-left: 112px;
}

@media (min-width: 375px) {
    .team-member img{
        margin-left: 157px;
    }
    #imgL{
        margin-left: 169px;
    }
}

@media (min-width: 425px) {
    .team-member img{
        margin-left: 207px;
    }
    #imgL{
        margin-left: 219px;
    }
}

@media (min-width: 768px) {
    .team-member img{
        margin-left: 35px;
    }
    #imgL{
        margin-left: 47px;
    }
}
.group-container {
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.group-header {
    display: flex;
    flex-direction: column; /* Cambiado a columna para móviles */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.group-header .stats {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Cambiado a 100% */
    margin-top: 10px; /* Añadido margen superior */
}

.group-header .stats span {
    margin: 0 5px; /* ajusta según tus necesidades */
}

.country {
    display: flex;
    flex-direction: column; /* Cambiado a columna para móviles */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px; /* Añadido para que el fondo tenga bordes redondeados */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave del fondo */
}

.country img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-item a {
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 10px; /* Ajusta el espaciado entre los enlaces según sea necesario */
}

.nav-item:last-child {
    margin-right: 0; /* Elimina el margen derecho del último enlace para evitar espacio adicional */
}

/* Estilo para hover */
a.country:hover, a.country:focus {
    text-decoration: none;
    color: white;
    background-color: #0056b3; /* Cambia el fondo a un azul más claro al hacer hover */
    transform: scale(1.05); /* Opción: añade un ligero zoom para el hover */
}

.country .stats {
    display: flex;
    flex-direction: row; /* Mantener en fila para móviles */
    justify-content: space-between;
    width: 100%; /* Cambiado a 100% */
    margin-top: 10px; /* Añadido margen superior */
}

.country .stats span {
    margin: 0 5px; /* ajusta según tus necesidades */
}

@media (min-width: 768px) {
    .group-header {
        flex-direction: row; /* Cambiar a fila para pantallas grandes */
    }

    .country {
        flex-direction: row; /* Cambiar a fila para pantallas grandes */
    }

    .group-header .stats, .country .stats {
        width: 70%; /* Ajustar según sea necesario */
    }
}

/* Additional CSS for centering on mobile view */
@media (max-width: 768px) {
    .group-header .stats,
    .country .stats {
        text-align: center;
    }
    
    #logosFooter{
        text-align: center;
    }

    #containerLogos{
        display: flex;
        justify-content: flex-end;
    }

    .group-header .stats span,
    .country .stats span {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }
}
