body {
    background: linear-gradient(to bottom, #003282, #0056b3); /* Degradado de azul oscuro a un azul más claro */
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    overflow-x: hidden; /* Evitar scroll horizontal */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    background-color: #003282;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

a{
    color: white;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #003366;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    color: white;
    margin: 20px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    background-color: #003366;
    border: 1px solid #ccc;
    color: white;
}

.form-control:focus {
    background-color: #004080;
    border-color: #0056b3;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0073e6;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #0073e6;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}