body {
    background: linear-gradient(to bottom, #003282, #0056b3); /* Degradado de azul oscuro a un azul más claro */
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Asegura que no haya desbordamiento horizontal */
    color: white;
}

.group-container {
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.group-container img{
    width: 50px;
    height: 50px;
}

.row-container{
    display: flex;
    justify-content: center;
}

.btn-success{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80px;
    height: 40px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 576px){

    .group-container{
        max-width: 350px;
    }
    .puntos{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .GF1, .GF2, .fecha, .puntos.col-12, .pais.col-12{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 576px){
    .pais.col-sm-3, .fecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .puntos{
        display: flex;
        align-items: center;
    }
}

.score-input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
